VITE_SUPABASE_URL=https://euokmvjrxvheryzstmdz.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV1b2ttdmpyeHZoZXJ5enN0bWR6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjA5OTkwMTEsImV4cCI6MjA3NjU3NTAxMX0.A_RDQ6GIF4TttFswIpmgdWyyTfGpJbTlqUtjuFZ_b8k